body {
    margin: 0;
    width: 100%;
    position: relative;
    height: auto;
    min-height: 1500px;
}

header {
    height: 150px;
    line-height: 100px;
    position: relative;
    background-color: #1C0321;
    display: flex;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Poppins";
}
    
header div.logo {
    margin: auto;
    width: 50%;
}

div.logo p {
    margin: 0;
    color: white;
    font-family: "Titan One";
    font-size: 60px;
    text-align: center;
}

div.logo span {
    color: #00FFE4;
    font-size: 70px;
    display: inline-block;
    -webkit-transform: rotate(-5deg);
}

    div.logo span.k-style {

    }

    div.logo span.l-style {
        font-size: 60px;
    }

header div.header-right {
    width: 35%;
    display: flex;
}

    header div.header-right p {
        width: 33%;
        margin: 0;
        position: relative;
    }

    header div.header-right a {
        font-size: 18px;
        text-decoration: none;
        position: absolute;
        bottom: 0px;
        color: white;
        margin: 0;
        height: auto;
        max-height: 70px;
        width: 70%;
    }

        header div.header-right a:hover {
            color: #00FFE4;
            border-bottom: 3px solid #00FFE4;
        }
        header div.header-right a:active {
            transition-duration: 0.1s;
            font-size: 16px;
        }

#content-wrapper {
    min-height: 1000px;
    margin: auto;
    margin-top: 75px;
    max-width: 100%;
}

.page-content-holder {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .page-content-holder div.content {
        border: 2px solid black;
    }

.content.daily-recommendation-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.recommendation {
    border: 1px solid black;
    height: inherit;

    width: 100%;
}


h1.rec-heading {
    color: black;
    font-family: "Titan One";
    font-size: 15px;
    text-transform: uppercase;
}

.recommendation.right {
   display: flex;
   flex-direction: row;
}

h4.rec-song-artist, .upvotes {
    color: black;

}

form {
    width: 20%;
}

#heart-button {
    font-size: 10px;
    color: red;
    border: none;
    background-color: transparent;
    outline: none;
}

#heart-button:hover {
    cursor: pointer;
}

    #heart-button:hover:active {
        transition-duration: .1s;
        font-size: 25px;
        transform: translateX(2.5px);
        transform: translateY(2.5px);

    }

.upvotes {
    width: 80%;
}

div.content.middle-content {
    display: flex;
    flex-direction: row;
    min-height: 600px;
}
    div.page-content {
        border: 2px solid green;
        width: 60%;
        margin-left: 10%;
    }

    div.artist-ranking {
        border: 2px solid red;
        width: 30%;
        height: auto;
    }
 
    

footer {
    background-color: #1C0321; 
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

